.banner {
  position: relative;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  width: 100vw;
  font-size: var(--main-font-size);
}

@media (max-width: 768px) {
  .banner {
    height: 300px;
  }
}

.square {
  width: 90vw;
  height: 35em;
  margin-top: 1em;
  background-color: #1da049;
  display: flex;
  border-radius: 2em;
  position: relative;
}

@media (max-width: 768px) {
  .square {
    height: 25em;
    width: 80vw;
    margin-top: 0.5em;
  }
}

.banItems {
  margin-left: 100px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .banItems {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }
}

.banName {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 15px;
}

@media (max-width: 768px) {
  .banName {
    font-size: 28px;
  }
}

.banPrice {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .banPrice {
    font-size: 16px;
  }
}

.banDescrip {
  max-width: 550px;
  font-size: 20px;
  font-weight: 500;
}

@media (max-width: 768px) {
  .banDescrip {
    font-size: 16px;
  }
}

.count {
  position: absolute;
  top: 190px;
  cursor: pointer;
  background-color: var(--orange-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 100px;
  color: var(--header-font-color);
}

@media (max-width: 768px) {
  .count {
    top: 150px;
    font-size: 28px;
    height: 30px;
    width: 30px;
  }
}

.addCount {
  right: 30px;
}

.minCount {
  left: 30px;
}

.countWrapper {
  display: flex;
}

@media (max-width: 768px) {
  .countWrapper {
    margin-top: 20px;
  }
}

.space {
  width: auto;
}

@media (max-width: 768px) {
  .space {
    display: none;
  }
}

.addToCartBanner {
  position: absolute;
  left: 100px;
  bottom: 50px;
}

@media (max-width: 768px) {
  .addToCartBanner {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}