.banner {
  position: relative;
  top: 55px;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 400px;
  align-items: center;
  justify-content: center;
  /* background-color: black; */
  width: 100vw;
  font-size: var(--main-font-size);
}

.square{
  width: 90vw;
  height: 35em;
  margin-top: 1em;
  background-color: #889a8e;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 2em;
  position: relative;
  
}

.banItems {
  margin-left: 100px;
  margin-top: 50px;
}

.banName {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  padding-bottom: 15px;
}

.banPrice {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 100;
}

.banDescrip {
  max-width: 550px;
  font-size: 20px;
  font-weight: 500;
}

.count {
  position: absolute;
  top: 190px;
  cursor: pointer;
  background-color: var(--header-bar-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 40px;
  font-weight: 900;
  border-radius: 100px;
  color: var(--header-font-color);
}

.addCount{
    right: 30px;
}

.minCount{
    left: 30px;
} 

.countWrapper {
  /* position: absolute; */
  display: flex;
}

.space {
  width: auto;
}

.addToCartBanner{
  position: absolute;
  left: 100px;
  bottom: 50px;
}