.header {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 80px;
  /* background-color:var(--header-bar-color); */
  color: var(--black-text-color);
  align-items: center;
  z-index: 10;
  font-size: var(--title-font-size);
}

.space {
  margin: auto;
}

.headerTitle {
  font-size: 4em;
  margin-left: 30px;
  font-weight: 300;
  color: var(--header-font-color);
}

.search {
  border-color: white;
  border: 1px solid;
  border-radius: 100px;
  width: 150px;
  align-items: center;
  justify-content: right;
  display: flex;
  margin-left: 30px;
  margin-right: 40px;
}

.searchWord {
  position: relative;
  right: 20px;
}

.headerCart {
  color: var(--orange-color);
}

.catHeader {
  margin-left: 35px;
  font-size: 23px;
  color: var(--header-font-color);
  text-transform: uppercase;
  font-weight: 800;
  border-bottom: 3px solid var(--orange-color);
  padding-bottom: 10px;
}

/* Styles for devices with a screen width of 1240px or less */
@media (max-width: 1240px) {
  .catHeader {
    font-size: 16px;
  }
  .headerTitle {
    font-size: 2.5em;
    margin-left: 15px;
  }
  .search {
    width: 120px;
    margin-left: 15px;
    margin-right: 35px;
  }

  .headerCart{
    font-size: 1em;
  }
}

/* Styles for devices with a screen width of 768px or less */
@media (max-width: 920px) {
  .header {
    height: 60px;
  }
  .headerTitle {
    font-size: 1.6em;
    margin-left: 10px;
  }
  .search {
    width: 25px;
    margin-left: 10px;
    margin-right: 35px;
    font-size: 0px;
  }
  .headerCart{
    font-size: .9em;
    margin-left: auto;
  }

  .catHeader{
    display: none;
  }
}